<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Hashtag Bot for Gaza/Palestine</title>
</head>
<body>

    <h1>Twitter Hashtag Bot for Gaza/Palestine</h1>

    <form action="/submit" method="post">
        <label for="api">Your API Key:</label>
        <input type="text" id="api" name="api" required>

        <br>

        <label for="api_secret">Your API Secret Key:</label>
        <input type="text" id="api_secret" name="api_secret" required>

        <br>

        <label for="access_token">Your Access Token Key:</label>
        <input type="text" id="access_token" name="access_token" required>

        <br>

        <label for="access_token_secret">Your Access Token Secret Key:</label>
        <input type="text" id="access_token_secret" name="access_token_secret" required>

        <br>

        <label for="bearer_token">Your Bearer Token Key:</label>
        <input type="text" id="bearer_token" name="bearer_token" required>

        <br>

        <label for="hashtag">Hashtag:</label>
        <input type="text" id="hashtag" name="hashtag" required> <!-- Changed type to text -->

        <br>

        <input type="submit" value="Submit">
    </form>

</body>
</html>
